<font color="White"><h2>Add a tweet</h2></font>
<form action="/tweet" method="POST">
  <font color="White"> <p class="tweet"> Status: <input type="text" name="status"></p> </font>
  <input class="btn btn-primary" type="submit">
</form>